body
	// +container(100%)
	font-family: $union
	&.no-scroll
		overflow: hidden

a
	text-decoration: none

.wrapper
	width: 100%
	margin: auto
	position: relative
	max-width: 1270px
	min-width: 320px
	padding: 0 20px
	+box-sizing(border-box)

.global-wrap
	width: 100%
	min-width: 320px
	overflow: hidden

+selection
	background: $blue