body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
input,
button,
textarea
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none
  -webkit-border-radius: 0
  outline: none
  &:focus
    outline: none

input
  &:invalid
    +box-shadow(none)
  &[type="number"]
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none

::-moz-focus-inner
  border: 0
  padding: 0
