.team-marker
	&:after
		display: none
	&:before
		content: "\002B"
		color: #e4e5e3
		font-size: 24px
		position: relative
		left: 6px
		top: -1px
		width: auto
		height: auto
		background: none
	&.open
		&:before
			content: "\00D7"


.popup-close
	&:after
		display: none
	&:before
		content: "\00D7"
		width: auto
		height: auto
		color: #fff
		background: none
		left: 9px
		top: 0
		font-size: 40px


.description
	&:before,&:after
		display: none
