#footer
	background: #f2f2f2
	padding: 90px 0
	+at-breakpoint($tablet-max)
		padding: 50px 0	
	+at-breakpoint($phone-hor-max)
		padding: 30px 0
	h1
		color: #1f394b
		font-family: $union-b
		font-size: 41px
		line-height: 53px
		margin-bottom: 39px
		+at-breakpoint($tablet-max)
			font-size: 31px
			line-height: 43px
			margin-bottom: 30px
		+at-breakpoint($phone-hor-max)
			font-size: 21px
			line-height: 33px
			margin-bottom: 20px
		span
			border-bottom: 5px solid  $blue
			position: relative
			top: -7px
			+at-breakpoint($phone-hor-max)
				top: -4px
			span
				border: none
				top: 7px
				+at-breakpoint($phone-hor-max)
					top: 4px

	p
		font-family: $union
		color: $text-color
		font-size: $font-size
		line-height: 29px
		+box-sizing(border-box)
		padding-right: 6%
		margin-bottom: 27px
		+at-breakpoint($tablet-max)
			font-size: 19px
			line-height: 27px
		+at-breakpoint($phone-hor-max)
			font-size: 17px
			line-height: 23px
			margin-bottom: 20px
	strong
		font-family: $union-b
.two-column
	clear: both
	+pie-clearfix
	p
		width: 50%
		float: left
		+at-breakpoint($phone-hor-max)
			float: none
			width: 100%

.renas-link
	display: block
	clear: both
	border-top: 1px solid  #c2c2c2
	margin-top: 72px
	font-size: 20px
	line-height: 20px
	text-transform: lowercase
	padding-top: 17px
	font-family: $union-b
	+at-breakpoint($tablet-max)
		margin-top: 40px
	+at-breakpoint($phone-hor-max)
		margin-top: 20px
	a
		color: $text-color
		&:hover
			text-decoration: underline


		