#header
	height: 117px
	background: #fff
	overflow: hidden
	+at-breakpoint($phone-hor-max)
		height: 100px

.logo
	display: block
	margin-top: 32px
	width: 257px
	+at-breakpoint($phone-hor-max)
		width: 200px
		margin-top: 25px
	img
		max-width: 100%


.print-version
	position: absolute
	right: 20px
	top: 15px
	color: $text-color
	font-family: $hel-m
	font-size: 12px
	text-transform: uppercase
	+at-breakpoint($phone-hor-max)
		width: 25px
		height: 31px
		overflow: hidden
		color: transparent
		top: 6px
	&:hover
		text-decoration: underline
	img
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		margin-top: -2px
		width: 25px
		height: 31px
		+at-breakpoint($phone-hor-max)
			position: absolute
			top: 0
			left: 0
			margin: 0

