.overlay
	background: $bg-color
	+opacity(0.8)
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 1000
	display: none
	

.popup-wrap
	position: fixed
	z-index: 1001
	top: 0
	bottom: 0
	left: 0
	right: 0
	text-align: center
	font-size: 0
	overflow: auto
	padding-top: 60px
	display: none	
	&:before
		content: ''
		width: 0
		height: 100%
		display: inline-block
		vertical-align: middle

.popup
	display: inline-block
	vertical-align: middle
	position: relative
	+at-breakpoint($phone-hor-max)
		width: 90%
		max-width: 500px
	img
		max-width: 100%
	.post
		width: 665px
		float: none
		margin: 0
		padding: 22px
		cursor: default
		+at-breakpoint($tablet-max)
			width: 600px
		+at-breakpoint($phone-hor-max)
			width: 100%
		&:hover
			+opacity(1)
		.title
			font-size: 22px
			line-height: 36px
			position: static
			padding: 35px 30px 15px
			+at-breakpoint($phone-hor-max)
				line-height: 30px
				padding: 0 10px 15px
			span
				border: none
		p
			padding: 0 50px 45px
			+at-breakpoint($tablet-max)
				text-align: center
			+at-breakpoint($phone-hor-max)
				font-size: 17px
				line-height: 23px
				padding: 0 10px 20px


.popup-close
	position: absolute
	display: block
	width: 41px
	height: 41px
	top: -51px
	right: -51px
	background: #98d4f0
	cursor: pointer
	z-index: 1
	+transition(background 0.5s ease-in-out)
	+at-breakpoint($phone-hor-max)
		top: -41px
		right: 0
	&:hover
		background: $text-color
	&:before,&:after
		content: ''
		position: absolute
		top: 19px
		left: 8px
		width: 25px
		height: 2px
		background: #fff
		+rotate(45deg)
	&:after
		+rotate(135deg)


.popup-prev
	position: absolute
	+icon(popup-prev)
	left: -40px
	top: 50%
	margin-top: -100px
	cursor: pointer
	z-index: 1
	+transition(opacity 0.5s ease-in-out)
	+at-breakpoint($phone-hor-max)
		left: 0	
		margin-top: -150px
	&:hover
		+opacity(0.8)
		+translateX(-2px)

.popup-next
	position: absolute
	+icon(popup-next)
	right: -40px
	top: 50%
	margin-top: -100px
	cursor: pointer
	z-index: 1
	+transition(opacity 0.5s ease-in-out)
	+at-breakpoint($phone-hor-max)
		right: 0
		margin-top: -150px	
	&:hover
		+opacity(0.8)
		+translateX(2px)