.content
    font-size: $font-size
    line-height: $text-line-height
    word-wrap: break-word
    p
        margin-bottom: $text-line-height
        +at-breakpoint($phone-hor-max)
            margin-bottom: 10px
    h1
        color: $text-color
        font-family: $union-b
        font-size: 81px
        line-height: 90px
        +at-breakpoint($tablet-max)
            font-size: 60px
            line-height: 80px
        +at-breakpoint($phone-hor-max)
            font-size: 30px
            line-height: 50px
        span
            position: relative
            top: -15px
            border-bottom: 10px solid  $blue
            +at-breakpoint($phone-hor-max)
                border-bottom: 5px solid  $blue
                top: -6px
            span
                border: none
                top: 15px
                +at-breakpoint($phone-hor-max)
                    top: 6px

    h2
        font-size: 55px
        line-height: 60px
        font-family: $hel-b
        +at-breakpoint($tablet-max)
            font-size: 45px
            line-height: 50px
    h3
        color: $text-color
        font-family: $union-b
        font-size: 45px
        line-height: 50px
        +at-breakpoint($tablet-max)
            font-size: 35px
            line-height: 43px
        +at-breakpoint($phone-hor-max)
            font-size: 25px
            line-height: 33px
        span
            border-bottom: 5px solid  $blue
            position: relative
            top: -7px
            +at-breakpoint($phone-hor-max)
                top: -4px
            span
                border: none
                top: 7px
                +at-breakpoint($phone-hor-max)
                    top: 4px
    h4
        color: $text-color
        font-family: $union-b
        font-size: 41px
        line-height: 53px
        margin-bottom: 53px
        +at-breakpoint($tablet-max)
            font-size: 31px
            line-height: 43px
            margin-bottom: 40px
        +at-breakpoint($phone-hor-max)
            font-size: 21px
            line-height: 33px
            margin-bottom: 30px
        span
            border-bottom: 5px solid  $blue
            position: relative
            top: -7px
            +at-breakpoint($phone-hor-max)
                top: -4px
            span
                border: none
                top: 7px
                +at-breakpoint($phone-hor-max)
                    top: 4px
    h5
        // font-size: 92.8571429%
    h6
        // font-size: 85.7142857%
    ul
        list-style: disc inside
        margin: 0
        padding: 0
    ol
        list-style: decimal inside
        margin: 0
        padding: 0
    i, em
        font-family: $union-i
    strong, b
        font-family: $union-b
    blockquote
        p
            text-align: right

    sup, sub
        font-size: 75%
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.25em
    a
        text-decoration: underline
        &:hover
            text-decoration: none
    table
        width: 100%
        th
            text-align: left
    img
        max-width: 100%
        height: auto
        display: block
    dl
        margin-bottom: $text-line-height
    dt 
        font-weight: 700

    dd
        margin-bottom: $text-line-height