/* line 2, ../sass/ie.sass */
.team-marker:after {
  display: none;
}
/* line 4, ../sass/ie.sass */
.team-marker:before {
  content: "\002B";
  color: #e4e5e3;
  font-size: 24px;
  position: relative;
  left: 6px;
  top: -1px;
  width: auto;
  height: auto;
  background: none;
}
/* line 15, ../sass/ie.sass */
.team-marker.open:before {
  content: "\00D7";
}

/* line 20, ../sass/ie.sass */
.popup-close:after {
  display: none;
}
/* line 22, ../sass/ie.sass */
.popup-close:before {
  content: "\00D7";
  width: auto;
  height: auto;
  color: white;
  background: none;
  left: 9px;
  top: 0;
  font-size: 40px;
}

/* line 34, ../sass/ie.sass */
.description:before, .description:after {
  display: none;
}
