/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_reset.sass */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 4, ../sass/_reset.sass */
input,
button,
textarea {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}
/* line 13, ../sass/_reset.sass */
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/* line 17, ../sass/_reset.sass */
input:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 20, ../sass/_reset.sass */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 24, ../sass/_reset.sass */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url('../stylesheets/fonts/../../fonts/helveticaltstd-light-webfont.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaltstd-light-webfont.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaltstd-light-webfont.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaltstd-light-webfont.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaltstd-light-webfont.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('../stylesheets/fonts/../../fonts/helveticaneuecyr-medium.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaneuecyr-medium.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaneuecyr-medium.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaneuecyr-medium.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaneuecyr-medium.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-regular-webfont.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-regular-webfont.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaworld-regular-webfont.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaworld-regular-webfont.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaworld-regular-webfont.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-bold-webfont.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-bold-webfont.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaworld-bold-webfont.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaworld-bold-webfont.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaworld-bold-webfont.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "HelveticaNeueItalic";
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-italic-webfont.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaworld-italic-webfont.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaworld-italic-webfont.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaworld-italic-webfont.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaworld-italic-webfont.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "HelveticaNeueMediumItalic";
  src: url('../stylesheets/fonts/../../fonts/helveticaneuemdit-webfont.eot');
  src: url('../stylesheets/fonts/../../fonts/helveticaneuemdit-webfont.eot?#iefix') format('eot'), url('../stylesheets/fonts/../../fonts/helveticaneuemdit-webfont.woff') format('woff'), url('../stylesheets/fonts/../../fonts/helveticaneuemdit-webfont.ttf') format('truetype'), url('../stylesheets/fonts/../../fonts/helveticaneuemdit-webfont.svg') format('svg');
  font-weight: "normal";
}

@font-face {
  font-family: "unionbold_italic";
  src: url("../fonts/union_bold_italic-webfont.eot");
  src: url("../fonts/union_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/union_bold_italic-webfont.woff2") format("woff2"), url("../fonts/union_bold_italic-webfont.woff") format("woff"), url("../fonts/union_bold_italic-webfont.ttf") format("truetype"), url("../fonts/union_bold_italic-webfont.svg#unionbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "unionbold";
  src: url("../fonts/union_bold-webfont.eot");
  src: url("../fonts/union_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/union_bold-webfont.woff2") format("woff2"), url("../fonts/union_bold-webfont.woff") format("woff"), url("../fonts/union_bold-webfont.ttf") format("truetype"), url("../fonts/union_bold-webfont.svg#unionbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "unionitalic";
  src: url("../fonts/union_regular_italic-webfont.eot");
  src: url("../fonts/union_regular_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/union_regular_italic-webfont.woff2") format("woff2"), url("../fonts/union_regular_italic-webfont.woff") format("woff"), url("../fonts/union_regular_italic-webfont.ttf") format("truetype"), url("../fonts/union_regular_italic-webfont.svg#unionitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "unionregular";
  src: url("../fonts/union_regular-webfont.eot");
  src: url("../fonts/union_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/union_regular-webfont.woff2") format("woff2"), url("../fonts/union_regular-webfont.woff") format("woff"), url("../fonts/union_regular-webfont.ttf") format("truetype"), url("../fonts/union_regular-webfont.svg#unionregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 90, icons/*.png */
.icons-sprite {
  background: url('../images/icons-s866fc23727.png') no-repeat;
}

/* line 90, icons2x/*.png */
.icons2x-sprite {
  background: url('../images/icons2x-sc930967588.png') no-repeat;
}

/* line 1, ../sass/helpers/_wordpress.sass */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 4, ../sass/helpers/_wordpress.sass */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 9, ../sass/helpers/_wordpress.sass */
.alignright {
  float: right;
  margin: 5px 0 28px 28px;
}
/* line 13, ../sass/helpers/_wordpress.sass */
.alignright.wp-caption img {
  width: 100%;
  height: auto;
}
/* line 16, ../sass/helpers/_wordpress.sass */
.alignright.wp-caption .wp-caption-text {
  margin-top: 15px;
  width: 100%;
}

/* line 20, ../sass/helpers/_wordpress.sass */
.alignleft {
  float: left;
  margin: 5px 28px 28px 0;
}
/* line 24, ../sass/helpers/_wordpress.sass */
.alignleft.wp-caption img {
  width: 100%;
  height: auto;
}
/* line 27, ../sass/helpers/_wordpress.sass */
.alignleft.wp-caption .wp-caption-text {
  margin-top: 15px;
  width: 100%;
}

/* line 31, ../sass/helpers/_wordpress.sass */
.aligncenter {
  display: block;
  clear: both;
  margin: 5px auto 5px auto;
}

/* line 36, ../sass/helpers/_wordpress.sass */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 40, ../sass/helpers/_wordpress.sass */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 43, ../sass/helpers/_wordpress.sass */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 47, ../sass/helpers/_wordpress.sass */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 52, ../sass/helpers/_wordpress.sass */
.wp-caption {
  background: white;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 59, ../sass/helpers/_wordpress.sass */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 67, ../sass/helpers/_wordpress.sass */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 1, ../sass/components/_content.sass */
.content {
  font-size: 20px;
  line-height: 28px;
  word-wrap: break-word;
}
/* line 5, ../sass/components/_content.sass */
.content p {
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  /* line 5, ../sass/components/_content.sass */
  .content p {
    margin-bottom: 10px;
  }
}
/* line 9, ../sass/components/_content.sass */
.content h1 {
  color: #073e6b;
  font-family: "unionbold";
  font-size: 81px;
  line-height: 90px;
}
@media (max-width: 1024px) {
  /* line 9, ../sass/components/_content.sass */
  .content h1 {
    font-size: 60px;
    line-height: 80px;
  }
}
@media (max-width: 767px) {
  /* line 9, ../sass/components/_content.sass */
  .content h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
/* line 20, ../sass/components/_content.sass */
.content h1 span {
  position: relative;
  top: -15px;
  border-bottom: 10px solid #90d2f2;
}
@media (max-width: 767px) {
  /* line 20, ../sass/components/_content.sass */
  .content h1 span {
    border-bottom: 5px solid #90d2f2;
    top: -6px;
  }
}
/* line 27, ../sass/components/_content.sass */
.content h1 span span {
  border: none;
  top: 15px;
}
@media (max-width: 767px) {
  /* line 27, ../sass/components/_content.sass */
  .content h1 span span {
    top: 6px;
  }
}
/* line 33, ../sass/components/_content.sass */
.content h2 {
  font-size: 55px;
  line-height: 60px;
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
}
@media (max-width: 1024px) {
  /* line 33, ../sass/components/_content.sass */
  .content h2 {
    font-size: 45px;
    line-height: 50px;
  }
}
/* line 40, ../sass/components/_content.sass */
.content h3 {
  color: #073e6b;
  font-family: "unionbold";
  font-size: 45px;
  line-height: 50px;
}
@media (max-width: 1024px) {
  /* line 40, ../sass/components/_content.sass */
  .content h3 {
    font-size: 35px;
    line-height: 43px;
  }
}
@media (max-width: 767px) {
  /* line 40, ../sass/components/_content.sass */
  .content h3 {
    font-size: 25px;
    line-height: 33px;
  }
}
/* line 51, ../sass/components/_content.sass */
.content h3 span {
  border-bottom: 5px solid #90d2f2;
  position: relative;
  top: -7px;
}
@media (max-width: 767px) {
  /* line 51, ../sass/components/_content.sass */
  .content h3 span {
    top: -4px;
  }
}
/* line 57, ../sass/components/_content.sass */
.content h3 span span {
  border: none;
  top: 7px;
}
@media (max-width: 767px) {
  /* line 57, ../sass/components/_content.sass */
  .content h3 span span {
    top: 4px;
  }
}
/* line 62, ../sass/components/_content.sass */
.content h4 {
  color: #073e6b;
  font-family: "unionbold";
  font-size: 41px;
  line-height: 53px;
  margin-bottom: 53px;
}
@media (max-width: 1024px) {
  /* line 62, ../sass/components/_content.sass */
  .content h4 {
    font-size: 31px;
    line-height: 43px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  /* line 62, ../sass/components/_content.sass */
  .content h4 {
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}
/* line 76, ../sass/components/_content.sass */
.content h4 span {
  border-bottom: 5px solid #90d2f2;
  position: relative;
  top: -7px;
}
@media (max-width: 767px) {
  /* line 76, ../sass/components/_content.sass */
  .content h4 span {
    top: -4px;
  }
}
/* line 82, ../sass/components/_content.sass */
.content h4 span span {
  border: none;
  top: 7px;
}
@media (max-width: 767px) {
  /* line 82, ../sass/components/_content.sass */
  .content h4 span span {
    top: 4px;
  }
}
/* line 91, ../sass/components/_content.sass */
.content ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
}
/* line 95, ../sass/components/_content.sass */
.content ol {
  list-style: decimal inside;
  margin: 0;
  padding: 0;
}
/* line 99, ../sass/components/_content.sass */
.content i, .content em {
  font-family: "unionitalic";
}
/* line 101, ../sass/components/_content.sass */
.content strong, .content b {
  font-family: "unionbold";
}
/* line 104, ../sass/components/_content.sass */
.content blockquote p {
  text-align: right;
}
/* line 107, ../sass/components/_content.sass */
.content sup, .content sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 112, ../sass/components/_content.sass */
.content sup {
  top: -0.5em;
}
/* line 114, ../sass/components/_content.sass */
.content sub {
  bottom: -0.25em;
}
/* line 116, ../sass/components/_content.sass */
.content a {
  text-decoration: underline;
}
/* line 118, ../sass/components/_content.sass */
.content a:hover {
  text-decoration: none;
}
/* line 120, ../sass/components/_content.sass */
.content table {
  width: 100%;
}
/* line 122, ../sass/components/_content.sass */
.content table th {
  text-align: left;
}
/* line 124, ../sass/components/_content.sass */
.content img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* line 128, ../sass/components/_content.sass */
.content dl {
  margin-bottom: 28px;
}
/* line 130, ../sass/components/_content.sass */
.content dt {
  font-weight: 700;
}
/* line 133, ../sass/components/_content.sass */
.content dd {
  margin-bottom: 28px;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../sass/vendor/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 21, ../sass/vendor/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 27, ../sass/vendor/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/vendor/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 30, ../sass/vendor/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 33, ../sass/vendor/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 34, ../sass/vendor/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 35, ../sass/vendor/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 40, ../sass/vendor/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 44, ../sass/vendor/_flexslider.scss */
.flexslider {
  margin: 0;
  background: #fff;
  position: relative;
  zoom: 1;
}

/* line 45, ../sass/vendor/_flexslider.scss */
.flex-viewport {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 47, ../sass/vendor/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 48, ../sass/vendor/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 51, ../sass/vendor/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1250px) {
  /* line 51, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav {
    bottom: auto;
    top: 61px;
  }
}

/* line 62, ../sass/vendor/_flexslider.scss */
.flex-direction-nav li {
  list-style: none;
}

/* line 63, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  background: #90d2f2;
  background: rgba(144, 210, 242, 0.5);
  color: transparent;
  left: 72.3%;
  bottom: 1px;
  text-indent: -10000px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
@media (max-width: 1250px) {
  /* line 63, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav a {
    left: 0;
  }
}

/* line 85, ../sass/vendor/_flexslider.scss */
.flex-direction-nav .flex-prev {
  opacity: 1;
}

/* line 86, ../sass/vendor/_flexslider.scss */
.flex-direction-nav .flex-next {
  opacity: 1;
  margin-left: 62px;
}

/* line 87, ../sass/vendor/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  background: #073e6b;
  background: rgba(7, 62, 107, 0.5);
}

/* line 91, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a:before {
  content: '';
  display: block;
  width: 15px;
  height: 27px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -252px no-repeat;
  display: block;
  position: absolute;
  left: 20px;
  top: 16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 91, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav a:before {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -236.5px;
  }
}

/* line 99, ../sass/vendor/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  display: block;
  width: 15px;
  height: 27px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -299px no-repeat;
  left: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 99, ../sass/vendor/_flexslider.scss */
  .flex-direction-nav a.flex-next:before {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -200px;
  }
}

/* Control Nav */
/* line 107, ../sass/vendor/_flexslider.scss */
.flex-control-nav {
  display: none;
}

/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/
/*
CONTENTS: 
	1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited). 
	2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar. 
	3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
	4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars. 
	5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars. 
	6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS 
		6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/
/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/
/* line 27, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollbar {
  -ms-touch-action: none;
  touch-action: none;
  /* MSPointer events - direct all pointer events to js */
}

/* line 28, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollbar.mCS_no_scrollbar {
  -ms-touch-action: auto;
  touch-action: auto;
}

/* line 30, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
  padding-bottom: 58px;
}

/* line 40, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}

/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
/* line 55, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_inside > .mCSB_container {
  margin-right: 0px;
}

/* line 57, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}

/* non-visible scrollbar */
/* line 59, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

/* line 64, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}

/* RTL direction/left-side scrollbar */
/* line 66, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 76, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}

/* scrollbar position: outside */
/* line 79, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0;
}

/* line 84, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
/* line 86, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

/* line 95, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

/* line 97, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

/* line 104, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}

/* line 111, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}

/* line 121, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */
}

/* line 124, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */
}

/* line 127, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

/* line 137, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}

/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
/* line 148, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 0px;
}

/* line 153, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%;
}

/* line 155, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/* non-visible scrollbar */
/* line 157, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 58px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 167, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px;
}

/* scrollbar position: outside */
/* line 169, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px;
  height: 0;
}

/* line 171, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 0px;
}

/* line 176, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0;
}

/* line 182, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 80%;
  height: 0px;
  margin: 6px auto;
}

/* line 189, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 0px;
  /* auto-expanded scrollbar */
  margin: 2px auto;
}

/* line 195, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 0px;
  /* auto-expanded scrollbar */
  margin: 4px 0;
}

/* 
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/
/* line 224, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* line 237, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
}

/* line 242, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}

/* line 244, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}

/* non-visible horizontal scrollbar */
/* line 247, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
/* line 251, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}

/* RTL direction/left-side scrollbar */
/* line 254, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}

/* non-visible scrollbar/RTL direction/left-side scrollbar */
/* line 257, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}

/* line 259, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

/* line 264, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 269, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 274, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0;
}

/* non-visible horizontal scrollbar */
/* line 280, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/
/* line 295, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/* line 305, ../sass/vendor/jquery.mCustomScrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s,  margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,  margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/
/* 
----------------------------------------
6.1 THEMES 
----------------------------------------
*/
/* default theme ("light") */
/* theme: "dark" */
/* ---------------------------------------- */
/* line 1, ../sass/_base.sass */
body {
  font-family: "unionregular";
}
/* line 4, ../sass/_base.sass */
body.no-scroll {
  overflow: hidden;
}

/* line 7, ../sass/_base.sass */
a {
  text-decoration: none;
}

/* line 10, ../sass/_base.sass */
.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 1270px;
  min-width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/_base.sass */
.global-wrap {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

/* line 2, ../sass/mixins/_selection.sass */
::selection {
  background: #90d2f2;
}

/* line 4, ../sass/mixins/_selection.sass */
::-moz-selection {
  background: #90d2f2;
}

/* line 1, ../sass/layouts/partials/_header.sass */
#header {
  height: 117px;
  background: white;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/_header.sass */
  #header {
    height: 100px;
  }
}

/* line 8, ../sass/layouts/partials/_header.sass */
.logo {
  display: block;
  margin-top: 32px;
  width: 257px;
}
@media (max-width: 767px) {
  /* line 8, ../sass/layouts/partials/_header.sass */
  .logo {
    width: 200px;
    margin-top: 25px;
  }
}
/* line 15, ../sass/layouts/partials/_header.sass */
.logo img {
  max-width: 100%;
}

/* line 19, ../sass/layouts/partials/_header.sass */
.print-version {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #073e6b;
  font-family: "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  /* line 19, ../sass/layouts/partials/_header.sass */
  .print-version {
    width: 25px;
    height: 31px;
    overflow: hidden;
    color: transparent;
    top: 6px;
  }
}
/* line 33, ../sass/layouts/partials/_header.sass */
.print-version:hover {
  text-decoration: underline;
}
/* line 35, ../sass/layouts/partials/_header.sass */
.print-version img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -2px;
  width: 25px;
  height: 31px;
}
@media (max-width: 767px) {
  /* line 35, ../sass/layouts/partials/_header.sass */
  .print-version img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}

/* line 1, ../sass/layouts/partials/content/_intro.sass */
.intro {
  position: relative;
}
/* line 3, ../sass/layouts/partials/content/_intro.sass */
.intro .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  /* line 3, ../sass/layouts/partials/content/_intro.sass */
  .intro .wrapper {
    position: static;
  }
}

/* line 12, ../sass/layouts/partials/content/_intro.sass */
.intro-text {
  position: absolute;
  left: 0;
  top: 57px;
  left: 20px;
}
@media (max-width: 767px) {
  /* line 12, ../sass/layouts/partials/content/_intro.sass */
  .intro-text {
    position: static;
  }
}
/* line 20, ../sass/layouts/partials/content/_intro.sass */
.intro-text p {
  font-family: serif;
  font-size: 25px;
  line-height: 37px;
  color: #073e6b;
  max-width: 600px;
  font-weight: bold;
  margin-top: 21px;
}
@media (max-width: 1024px) {
  /* line 20, ../sass/layouts/partials/content/_intro.sass */
  .intro-text p {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  /* line 20, ../sass/layouts/partials/content/_intro.sass */
  .intro-text p {
    font-size: 19px;
    line-height: 27px;
    margin-top: 6px;
  }
}

/* line 38, ../sass/layouts/partials/content/_intro.sass */
.intro-icon {
  position: absolute;
  right: 0;
  top: 61px;
  width: 178px;
}
@media (max-width: 767px) {
  /* line 38, ../sass/layouts/partials/content/_intro.sass */
  .intro-icon {
    width: 70px;
    top: 20px;
    right: 20px;
  }
}

/* line 49, ../sass/layouts/partials/content/_intro.sass */
.scroll-down {
  display: block;
  width: 45px;
  height: 24px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -114px no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 28%;
  display: block;
  margin: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 49, ../sass/layouts/partials/content/_intro.sass */
  .scroll-down {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -93px;
  }
}
@media (max-width: 1024px) {
  /* line 49, ../sass/layouts/partials/content/_intro.sass */
  .scroll-down {
    bottom: 15%;
  }
}
@media (max-width: 767px) {
  /* line 49, ../sass/layouts/partials/content/_intro.sass */
  .scroll-down {
    display: none;
  }
}
/* line 62, ../sass/layouts/partials/content/_intro.sass */
.scroll-down:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 1, ../sass/layouts/partials/content/_video.sass */
.video {
  background: white;
  padding: 90px 0;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/content/_video.sass */
  .video {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_video.sass */
  .video {
    padding: 30px 0;
  }
}
/* line 10, ../sass/layouts/partials/content/_video.sass */
.video.open .video-holder iframe {
  z-index: 4;
}

/* line 14, ../sass/layouts/partials/content/_video.sass */
.video-holder {
  position: relative;
}
/* line 16, ../sass/layouts/partials/content/_video.sass */
.video-holder img {
  position: relative;
  z-index: 2;
}
/* line 19, ../sass/layouts/partials/content/_video.sass */
.video-holder iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 30, ../sass/layouts/partials/content/_video.sass */
.video-text {
  position: absolute;
  z-index: 3;
  left: 50px;
  bottom: 50px;
  color: white;
  padding-left: 122px;
}
@media (max-width: 767px) {
  /* line 30, ../sass/layouts/partials/content/_video.sass */
  .video-text {
    top: 50%;
    left: 50%;
    bottom: auto;
    margin-top: -25px;
    margin-left: -25px;
  }
}
/* line 43, ../sass/layouts/partials/content/_video.sass */
.video-text .title {
  font-size: 55px;
  line-height: 60px;
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
}
@media (max-width: 1024px) {
  /* line 43, ../sass/layouts/partials/content/_video.sass */
  .video-text .title {
    font-size: 45px;
    line-height: 50px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  /* line 43, ../sass/layouts/partials/content/_video.sass */
  .video-text .title {
    display: none;
  }
}
/* line 53, ../sass/layouts/partials/content/_video.sass */
.video-text p {
  font-family: "HelveticaNeueLight", Helvetica, Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 8px;
  line-height: 23px;
}
@media (max-width: 767px) {
  /* line 53, ../sass/layouts/partials/content/_video.sass */
  .video-text p {
    display: none;
  }
}

/* line 61, ../sass/layouts/partials/content/_video.sass */
.video-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 95px;
  height: 95px;
  background: #90d2f2;
  background: rgba(144, 210, 242, 0.7);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
@media (max-width: 767px) {
  /* line 61, ../sass/layouts/partials/content/_video.sass */
  .video-icon {
    width: 50px;
    height: 50px;
  }
}
/* line 75, ../sass/layouts/partials/content/_video.sass */
.video-icon:hover {
  background: #073e6b;
  background: rgba(7, 62, 107, 0.7);
}
/* line 78, ../sass/layouts/partials/content/_video.sass */
.video-icon:before {
  content: "";
  border-left: 37px solid white;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  position: absolute;
  left: 35px;
  top: 26px;
}
@media (max-width: 767px) {
  /* line 78, ../sass/layouts/partials/content/_video.sass */
  .video-icon:before {
    border-left: 25px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 16px;
    top: 11px;
  }
}

/* line 1, ../sass/layouts/partials/content/_post.sass */
.post-wrapper {
  padding: 90px 0;
  background: #f1f1f1;
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/content/_post.sass */
  .post-wrapper {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_post.sass */
  .post-wrapper {
    padding: 30px 0;
  }
}

/* line 10, ../sass/layouts/partials/content/_post.sass */
.post-holder {
  margin-left: -2.33333%;
}
@media (max-width: 767px) {
  /* line 10, ../sass/layouts/partials/content/_post.sass */
  .post-holder {
    margin-left: 0;
  }
}

/* line 15, ../sass/layouts/partials/content/_post.sass */
.post {
  position: relative;
  background: white;
  float: left;
  width: 31%;
  margin-left: 2.33333%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
@media (max-width: 767px) {
  /* line 15, ../sass/layouts/partials/content/_post.sass */
  .post {
    margin-left: 0;
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 30, ../sass/layouts/partials/content/_post.sass */
.post:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 34, ../sass/layouts/partials/content/_post.sass */
.post .title {
  position: absolute;
  top: 36px;
  left: 25px;
  right: 60px;
  color: #073e6b;
  font-family: "unionbold";
  font-size: 35px;
  line-height: 41px;
}
@media (max-width: 1024px) {
  /* line 34, ../sass/layouts/partials/content/_post.sass */
  .post .title {
    position: static;
    font-size: 22px;
    line-height: 34px;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  /* line 34, ../sass/layouts/partials/content/_post.sass */
  .post .title {
    line-height: 30px;
    margin-top: 15px;
  }
}
/* line 52, ../sass/layouts/partials/content/_post.sass */
.post .title span {
  border-bottom: 5px solid #90d2f2;
  position: relative;
  top: -5px;
}
@media (max-width: 767px) {
  /* line 52, ../sass/layouts/partials/content/_post.sass */
  .post .title span {
    top: -4px;
  }
}
/* line 58, ../sass/layouts/partials/content/_post.sass */
.post .title span span {
  border: none;
  top: 5px;
}
@media (max-width: 767px) {
  /* line 58, ../sass/layouts/partials/content/_post.sass */
  .post .title span span {
    top: 4px;
  }
}
/* line 63, ../sass/layouts/partials/content/_post.sass */
.post p {
  color: #073e6b;
  font-size: 20px;
  line-height: 28px;
  padding: 33px 20px 16px;
  text-align: center;
  margin: 0;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  /* line 63, ../sass/layouts/partials/content/_post.sass */
  .post p {
    text-align: left;
    font-size: 19px;
    line-height: 26px;
    padding: 22px 0 16px;
  }
}
@media (max-width: 767px) {
  /* line 63, ../sass/layouts/partials/content/_post.sass */
  .post p {
    padding: 16px 0;
  }
}

/* line 1, ../sass/layouts/partials/content/_slider.sass */
.slider {
  padding: 90px 0;
  background: white;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/content/_slider.sass */
  .slider {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_slider.sass */
  .slider {
    padding: 30px 0;
  }
}
/* line 8, ../sass/layouts/partials/content/_slider.sass */
.slider img {
  width: 68.3%;
  margin-right: 4%;
  float: left;
}
@media (max-width: 1024px) {
  /* line 8, ../sass/layouts/partials/content/_slider.sass */
  .slider img {
    width: 56%;
  }
}
@media (max-width: 767px) {
  /* line 8, ../sass/layouts/partials/content/_slider.sass */
  .slider img {
    width: 100%;
    float: none;
  }
}

/* line 18, ../sass/layouts/partials/content/_slider.sass */
.slide-text {
  width: 27.7%;
  float: left;
}
@media (max-width: 1024px) {
  /* line 18, ../sass/layouts/partials/content/_slider.sass */
  .slide-text {
    width: 40%;
  }
}
@media (max-width: 767px) {
  /* line 18, ../sass/layouts/partials/content/_slider.sass */
  .slide-text {
    width: 100%;
    float: none;
  }
}
/* line 26, ../sass/layouts/partials/content/_slider.sass */
.slide-text .title {
  color: #073e6b;
  font-family: "unionbold";
  font-size: 45px;
  line-height: 53px;
  margin-top: 2px;
  margin-bottom: 29px;
}
@media (max-width: 1024px) {
  /* line 26, ../sass/layouts/partials/content/_slider.sass */
  .slide-text .title {
    font-size: 35px;
    line-height: 43px;
  }
}
@media (max-width: 767px) {
  /* line 26, ../sass/layouts/partials/content/_slider.sass */
  .slide-text .title {
    font-size: 25px;
    line-height: 33px;
    margin-top: 7px;
    margin-bottom: 20px;
  }
}
/* line 41, ../sass/layouts/partials/content/_slider.sass */
.slide-text .title span {
  border-bottom: 5px solid #90d2f2;
  position: relative;
  top: -7px;
}
@media (max-width: 767px) {
  /* line 41, ../sass/layouts/partials/content/_slider.sass */
  .slide-text .title span {
    top: -4px;
  }
}
/* line 47, ../sass/layouts/partials/content/_slider.sass */
.slide-text .title span span {
  border: none;
  top: 7px;
}
@media (max-width: 767px) {
  /* line 47, ../sass/layouts/partials/content/_slider.sass */
  .slide-text .title span span {
    top: 4px;
  }
}
/* line 52, ../sass/layouts/partials/content/_slider.sass */
.slide-text p {
  color: #073e6b;
  font-size: 20px;
  line-height: 28px;
  font-family: "unionregular";
  margin: 27px 0;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  /* line 52, ../sass/layouts/partials/content/_slider.sass */
  .slide-text p {
    font-size: 19px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  /* line 52, ../sass/layouts/partials/content/_slider.sass */
  .slide-text p {
    font-size: 17px;
    line-height: 23px;
    margin: 20px 0;
  }
}
/* line 67, ../sass/layouts/partials/content/_slider.sass */
.slide-text i {
  font-family: "unionitalic";
}

/* line 1, ../sass/layouts/partials/content/_timeline.sass */
.timeline {
  padding: 90px 0 160px;
  background: #f1f1f1;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/content/_timeline.sass */
  .timeline {
    padding: 50px 0 120px;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_timeline.sass */
  .timeline {
    padding: 30px 0 90px;
  }
}

/* line 9, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder {
  *zoom: 1;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.timeline-holder:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list {
  width: 4380px;
  position: relative;
  padding-top: 37px;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 20px;
  background: url('../images/timeline-bg.png?1411112822') repeat-x;
}
@media (max-width: 767px) {
  /* line 11, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder ul.timeline-list {
    width: 3780px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 24, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list:before, .timeline-holder ul.timeline-list:after {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  background: #90d2f2;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: -11px;
}
/* line 33, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list:before {
  left: 0;
}
/* line 35, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list:after {
  right: 0;
  visibility: visible;
}
/* line 38, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list li {
  list-style: none;
  float: left;
  width: 325px !important;
  margin: 0 20px;
  position: relative;
  color: #073e6b;
  text-align: center;
  padding: 40px 25px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}
@media (max-width: 767px) {
  /* line 38, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder ul.timeline-list li {
    width: 275px !important;
    padding: 25px 15px 15px;
  }
}
/* line 52, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list li:before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -16px;
  border-bottom: 12px solid white;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
/* line 62, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list .line-item-time {
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
  background: #f1f1f1;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: -46px;
}
/* line 73, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  font-family: "unionregular";
}
@media (max-width: 767px) {
  /* line 73, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder ul.timeline-list p {
    font-size: 15px;
    line-height: 19px;
  }
}
/* line 81, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list strong {
  font-family: "unionbold";
}
/* line 83, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list i {
  font-family: "unionitalic";
}
/* line 85, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder ul.timeline-list img {
  margin: 45px auto;
}
@media (max-width: 767px) {
  /* line 85, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder ul.timeline-list img {
    margin: 20px auto;
  }
}
/* line 90, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder .timeline-prev, .timeline-holder .timeline-next, .timeline-holder .mCSB_buttonLeft, .timeline-holder .mCSB_buttonRight {
  display: block;
  width: 138px;
  height: 58px;
  background: #90d2f2;
  background: rgba(144, 210, 242, 0.8);
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 303px;
  outline: none;
}
@media (max-width: 767px) {
  /* line 90, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder .timeline-prev, .timeline-holder .timeline-next, .timeline-holder .mCSB_buttonLeft, .timeline-holder .mCSB_buttonRight {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    right: 159px;
  }
}
/* line 104, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder .timeline-prev:hover, .timeline-holder .timeline-next:hover, .timeline-holder .mCSB_buttonLeft:hover, .timeline-holder .mCSB_buttonRight:hover {
  background: #073e6b;
  background: rgba(7, 62, 107, 0.8);
}
/* line 107, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder .timeline-prev:before, .timeline-holder .timeline-next:before, .timeline-holder .mCSB_buttonLeft:before, .timeline-holder .mCSB_buttonRight:before {
  content: "";
  width: 79px;
  height: 27px;
  display: block;
  width: 79px;
  height: 27px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -158px no-repeat;
  position: relative;
  top: 15px;
  left: 27px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 107, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder .timeline-prev:before, .timeline-holder .timeline-next:before, .timeline-holder .mCSB_buttonLeft:before, .timeline-holder .mCSB_buttonRight:before {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -127px;
  }
}
/* line 116, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder .timeline-next, .timeline-holder .mCSB_buttonRight {
  right: 0;
}
@media (max-width: 767px) {
  /* line 116, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder .timeline-next, .timeline-holder .mCSB_buttonRight {
    right: -28px;
  }
}
/* line 120, ../sass/layouts/partials/content/_timeline.sass */
.timeline-holder .timeline-next:before, .timeline-holder .mCSB_buttonRight:before {
  display: block;
  width: 79px;
  height: 27px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -205px no-repeat;
  left: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 120, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-holder .timeline-next:before, .timeline-holder .mCSB_buttonRight:before {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -163.5px;
  }
}

/* line 148, ../sass/layouts/partials/content/_timeline.sass */
.timeline-nav {
  background: #90d2f2;
  background: rgba(144, 210, 242, 0.8);
  padding: 22px 22px 20px;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  height: 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 140px;
  top: -58px;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  float: right;
}
@media (max-width: 767px) {
  /* line 148, ../sass/layouts/partials/content/_timeline.sass */
  .timeline-nav {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    right: 54px;
  }
}

/* line 1, ../sass/layouts/partials/content/_statistics.sass */
.statistics {
  padding: 80px 0 60px;
  background: white;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/content/_statistics.sass */
  .statistics {
    padding: 40px 0 20px;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/content/_statistics.sass */
  .statistics {
    padding: 30px 0 20px;
  }
}

/* line 10, ../sass/layouts/partials/content/_statistics.sass */
ul.statistics-holder {
  margin-left: -2.3333%;
  font-size: 0;
}
@media (max-width: 767px) {
  /* line 10, ../sass/layouts/partials/content/_statistics.sass */
  ul.statistics-holder {
    margin-left: 0;
  }
}
/* line 2, ../sass/mixins/_selection.sass */
ul.statistics-holder ::selection {
  background: transparent;
}
/* line 4, ../sass/mixins/_selection.sass */
ul.statistics-holder ::-moz-selection {
  background: transparent;
}
/* line 17, ../sass/layouts/partials/content/_statistics.sass */
ul.statistics-holder li {
  width: 31%;
  margin-left: 2.33333%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 17, ../sass/layouts/partials/content/_statistics.sass */
  ul.statistics-holder li {
    margin-left: 0;
    width: 100%;
  }
}
/* line 27, ../sass/layouts/partials/content/_statistics.sass */
ul.statistics-holder p {
  font-family: "unionregular";
  font-size: 16px;
  line-height: 24px;
  color: #073e6b;
  padding: 23px 25px;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 27, ../sass/layouts/partials/content/_statistics.sass */
  ul.statistics-holder p {
    padding: 15px 20px;
    line-height: 22px;
  }
}
/* line 38, ../sass/layouts/partials/content/_statistics.sass */
ul.statistics-holder img {
  margin: auto;
}

/* line 1, ../sass/layouts/partials/content/_team.sass */
.team {
  position: relative;
}
/* line 3, ../sass/layouts/partials/content/_team.sass */
.team .wrapper {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  /* line 3, ../sass/layouts/partials/content/_team.sass */
  .team .wrapper {
    top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 3, ../sass/layouts/partials/content/_team.sass */
  .team .wrapper {
    top: 0;
  }
}
/* line 13, ../sass/layouts/partials/content/_team.sass */
.team h4 {
  margin-left: 50px;
}
@media (max-width: 767px) {
  /* line 13, ../sass/layouts/partials/content/_team.sass */
  .team h4 {
    margin-left: 0;
  }
}

/* line 18, ../sass/layouts/partials/content/_team.sass */
.team-marker {
  width: 28px;
  height: 28px;
  position: absolute;
  background: white;
  border: 1px solid #e4e5e3;
  background: #1f394b;
  background: rgba(31, 57, 75, 0.8);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
/* line 29, ../sass/layouts/partials/content/_team.sass */
.team-marker:hover {
  background: #4a89b4;
  background: rgba(74, 137, 180, 0.8);
}
/* line 32, ../sass/layouts/partials/content/_team.sass */
.team-marker:after, .team-marker:before {
  content: "";
  width: 12px;
  height: 1px;
  position: absolute;
  background: #e4e5e3;
  top: 13px;
  left: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 42, ../sass/layouts/partials/content/_team.sass */
.team-marker:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 45, ../sass/layouts/partials/content/_team.sass */
.team-marker.open:before {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* line 47, ../sass/layouts/partials/content/_team.sass */
.team-marker.open:after {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
/* line 49, ../sass/layouts/partials/content/_team.sass */
.team-marker.open .description {
  visibility: visible;
  opacity: 1;
}

/* line 54, ../sass/layouts/partials/content/_team.sass */
.description {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  visibility: hidden;
  opacity: 0;
  width: 324px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 52px;
  left: -149px;
  background: #1a3040;
  background: rgba(26, 48, 64, 0.95);
  border: 1px solid #b8b9b8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-family: "unionregular";
  text-align: center;
  padding: 45px 43px 27px;
  z-index: 3;
}
@media (max-width: 767px) {
  /* line 54, ../sass/layouts/partials/content/_team.sass */
  .description {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-top: 150px;
  }
}
/* line 82, ../sass/layouts/partials/content/_team.sass */
.description:before {
  content: "";
  border-bottom: 11px solid #b8b9b8;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -11px;
  z-index: 1;
}
@media (max-width: 767px) {
  /* line 82, ../sass/layouts/partials/content/_team.sass */
  .description:before {
    display: none;
  }
}
/* line 94, ../sass/layouts/partials/content/_team.sass */
.description:after {
  content: "";
  border-bottom: 10px solid #1a3040;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -10px;
  z-index: 2;
}
@media (max-width: 767px) {
  /* line 94, ../sass/layouts/partials/content/_team.sass */
  .description:after {
    display: none;
  }
}
/* line 107, ../sass/layouts/partials/content/_team.sass */
.description p {
  margin-bottom: 18px;
}
/* line 109, ../sass/layouts/partials/content/_team.sass */
.description strong {
  font-size: 13px;
  font-family: "unionbold";
}

@media (max-width: 767px) {
  /* line 114, ../sass/layouts/partials/content/_team.sass */
  .description-close {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 28px;
    height: 28px;
  }
  /* line 121, ../sass/layouts/partials/content/_team.sass */
  .description-close:after, .description-close:before {
    content: "";
    width: 12px;
    height: 1px;
    position: absolute;
    background: #e4e5e3;
    top: 13px;
    left: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 132, ../sass/layouts/partials/content/_team.sass */
  .description-close:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

/* line 1, ../sass/layouts/partials/_footer.sass */
#footer {
  background: #f2f2f2;
  padding: 90px 0;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/layouts/partials/_footer.sass */
  #footer {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../sass/layouts/partials/_footer.sass */
  #footer {
    padding: 30px 0;
  }
}
/* line 8, ../sass/layouts/partials/_footer.sass */
#footer h1 {
  color: #1f394b;
  font-family: "unionbold";
  font-size: 41px;
  line-height: 53px;
  margin-bottom: 39px;
}
@media (max-width: 1024px) {
  /* line 8, ../sass/layouts/partials/_footer.sass */
  #footer h1 {
    font-size: 31px;
    line-height: 43px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  /* line 8, ../sass/layouts/partials/_footer.sass */
  #footer h1 {
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 20px;
  }
}
/* line 22, ../sass/layouts/partials/_footer.sass */
#footer h1 span {
  border-bottom: 5px solid #90d2f2;
  position: relative;
  top: -7px;
}
@media (max-width: 767px) {
  /* line 22, ../sass/layouts/partials/_footer.sass */
  #footer h1 span {
    top: -4px;
  }
}
/* line 28, ../sass/layouts/partials/_footer.sass */
#footer h1 span span {
  border: none;
  top: 7px;
}
@media (max-width: 767px) {
  /* line 28, ../sass/layouts/partials/_footer.sass */
  #footer h1 span span {
    top: 4px;
  }
}
/* line 34, ../sass/layouts/partials/_footer.sass */
#footer p {
  font-family: "unionregular";
  color: #073e6b;
  font-size: 20px;
  line-height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 6%;
  margin-bottom: 27px;
}
@media (max-width: 1024px) {
  /* line 34, ../sass/layouts/partials/_footer.sass */
  #footer p {
    font-size: 19px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  /* line 34, ../sass/layouts/partials/_footer.sass */
  #footer p {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 20px;
  }
}
/* line 49, ../sass/layouts/partials/_footer.sass */
#footer strong {
  font-family: "unionbold";
}

/* line 51, ../sass/layouts/partials/_footer.sass */
.two-column {
  clear: both;
  *zoom: 1;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.two-column:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/layouts/partials/_footer.sass */
.two-column p {
  width: 50%;
  float: left;
}
@media (max-width: 767px) {
  /* line 54, ../sass/layouts/partials/_footer.sass */
  .two-column p {
    float: none;
    width: 100%;
  }
}

/* line 61, ../sass/layouts/partials/_footer.sass */
.renas-link {
  display: block;
  clear: both;
  border-top: 1px solid #c2c2c2;
  margin-top: 72px;
  font-size: 20px;
  line-height: 20px;
  text-transform: lowercase;
  padding-top: 17px;
  font-family: "unionbold";
}
@media (max-width: 1024px) {
  /* line 61, ../sass/layouts/partials/_footer.sass */
  .renas-link {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 61, ../sass/layouts/partials/_footer.sass */
  .renas-link {
    margin-top: 20px;
  }
}
/* line 75, ../sass/layouts/partials/_footer.sass */
.renas-link a {
  color: #073e6b;
}
/* line 77, ../sass/layouts/partials/_footer.sass */
.renas-link a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/layouts/partials/_popup.sass */
.overlay {
  background: #f1f1f1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

/* line 13, ../sass/layouts/partials/_popup.sass */
.popup-wrap {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
  overflow: auto;
  padding-top: 60px;
  display: none;
}
/* line 25, ../sass/layouts/partials/_popup.sass */
.popup-wrap:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 32, ../sass/layouts/partials/_popup.sass */
.popup {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
@media (max-width: 767px) {
  /* line 32, ../sass/layouts/partials/_popup.sass */
  .popup {
    width: 90%;
    max-width: 500px;
  }
}
/* line 39, ../sass/layouts/partials/_popup.sass */
.popup img {
  max-width: 100%;
}
/* line 41, ../sass/layouts/partials/_popup.sass */
.popup .post {
  width: 665px;
  float: none;
  margin: 0;
  padding: 22px;
  cursor: default;
}
@media (max-width: 1024px) {
  /* line 41, ../sass/layouts/partials/_popup.sass */
  .popup .post {
    width: 600px;
  }
}
@media (max-width: 767px) {
  /* line 41, ../sass/layouts/partials/_popup.sass */
  .popup .post {
    width: 100%;
  }
}
/* line 51, ../sass/layouts/partials/_popup.sass */
.popup .post:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 53, ../sass/layouts/partials/_popup.sass */
.popup .post .title {
  font-size: 22px;
  line-height: 36px;
  position: static;
  padding: 35px 30px 15px;
}
@media (max-width: 767px) {
  /* line 53, ../sass/layouts/partials/_popup.sass */
  .popup .post .title {
    line-height: 30px;
    padding: 0 10px 15px;
  }
}
/* line 61, ../sass/layouts/partials/_popup.sass */
.popup .post .title span {
  border: none;
}
/* line 63, ../sass/layouts/partials/_popup.sass */
.popup .post p {
  padding: 0 50px 45px;
}
@media (max-width: 1024px) {
  /* line 63, ../sass/layouts/partials/_popup.sass */
  .popup .post p {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 63, ../sass/layouts/partials/_popup.sass */
  .popup .post p {
    font-size: 17px;
    line-height: 23px;
    padding: 0 10px 20px;
  }
}

/* line 73, ../sass/layouts/partials/_popup.sass */
.popup-close {
  position: absolute;
  display: block;
  width: 41px;
  height: 41px;
  top: -51px;
  right: -51px;
  background: #98d4f0;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
@media (max-width: 767px) {
  /* line 73, ../sass/layouts/partials/_popup.sass */
  .popup-close {
    top: -41px;
    right: 0;
  }
}
/* line 87, ../sass/layouts/partials/_popup.sass */
.popup-close:hover {
  background: #073e6b;
}
/* line 89, ../sass/layouts/partials/_popup.sass */
.popup-close:before, .popup-close:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 8px;
  width: 25px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 98, ../sass/layouts/partials/_popup.sass */
.popup-close:after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 102, ../sass/layouts/partials/_popup.sass */
.popup-prev {
  position: absolute;
  display: block;
  width: 20px;
  height: 37px;
  background: transparent url('../images/icons-sc357b19284.png') 0 0 no-repeat;
  left: -40px;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 102, ../sass/layouts/partials/_popup.sass */
  .popup-prev {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  /* line 102, ../sass/layouts/partials/_popup.sass */
  .popup-prev {
    left: 0;
    margin-top: -150px;
  }
}
/* line 114, ../sass/layouts/partials/_popup.sass */
.popup-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transform: translateX(-2px);
  -moz-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  -o-transform: translateX(-2px);
  transform: translateX(-2px);
}

/* line 118, ../sass/layouts/partials/_popup.sass */
.popup-next {
  position: absolute;
  display: block;
  width: 20px;
  height: 37px;
  background: transparent url('../images/icons-sc357b19284.png') 0 -57px no-repeat;
  right: -40px;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-moz-device-pixel-ratio: 1.3), only screen and (min-resolution: 200dpi) {
  /* line 118, ../sass/layouts/partials/_popup.sass */
  .popup-next {
    background-image: url('../images/icons2x-sf8c806c8c7.png');
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-position: 0 -46.5px;
  }
}
@media (max-width: 767px) {
  /* line 118, ../sass/layouts/partials/_popup.sass */
  .popup-next {
    right: 0;
    margin-top: -150px;
  }
}
/* line 130, ../sass/layouts/partials/_popup.sass */
.popup-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -ms-transform: translateX(2px);
  -o-transform: translateX(2px);
  transform: translateX(2px);
}
