.alignnone
  margin: 5px 20px 20px 0

.aligncenter,
div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right
  margin: 5px 0 $text-line-height $text-line-height
  &.wp-caption
    img
      width: 100%
      height: auto
    .wp-caption-text
      margin-top: 15px
      width: 100%

.alignleft
  float: left
  margin: 5px $text-line-height $text-line-height 0
  &.wp-caption
    img
      width: 100%
      height: auto
    .wp-caption-text
      margin-top: 15px
      width: 100%

.aligncenter
  display: block
  clear: both
  margin: 5px auto 5px auto

a img.alignright
  float: right
  margin: 5px 0 20px 20px

a img.alignnone
  margin: 5px 20px 20px 0

a img.alignleft
  float: left
  margin: 5px 20px 20px 0

a img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto

.wp-caption
  background: #fff
  border: 1px solid #f0f0f0
  max-width: 96%
  padding: 5px 3px 10px
  text-align: center

.wp-caption img
  border: 0 none
  height: auto
  margin: 0
  max-width: 98.5%
  padding: 0
  width: auto

.wp-caption p.wp-caption-text
  font-size: 11px
  line-height: 17px
  margin: 0
  padding: 0 4px 5px
