.intro
	position: relative
	.wrapper
		position: absolute
		top: 0
		left: 0
		right: 0
		+at-breakpoint($phone-hor-max)
			position: static


.intro-text
	position: absolute
	left: 0
	top: 57px
	left: 20px
	+at-breakpoint($phone-hor-max)
		position: static

	p
		font-family: serif
		font-size: 25px
		line-height: 37px
		color: $text-color
		max-width: 600px
		font-weight: bold
		margin-top: 21px
		+at-breakpoint($tablet-max)
			max-width: 500px
		+at-breakpoint($phone-hor-max)
			font-size: 19px
			line-height: 27px
			margin-top: 6px




.intro-icon
	position: absolute
	right: 0
	top: 61px
	width: 178px
	+at-breakpoint($phone-hor-max)
		width: 70px
		top: 20px
		right: 20px


.scroll-down
	+icon(arrow-down)
	position: absolute
	left: 0
	right: 0
	bottom: 28%
	display: block
	margin: auto
	+transition
	+at-breakpoint($tablet-max)
		bottom: 15%
	+at-breakpoint($phone-hor-max)
		display: none
	&:hover
		+opacity(0.7)