.post-wrapper
	padding: 90px 0
	background: $bg-color
	overflow: hidden
	+at-breakpoint($tablet-max)
		padding: 50px 0	
	+at-breakpoint($phone-hor-max)
		padding: 30px 0	

.post-holder
	margin-left: -2.33333333%
	+at-breakpoint($phone-hor-max)
		margin-left: 0

.post
	position: relative
	background: #fff
	float: left
	width: 31%
	margin-left: 2.33333333%
	padding: 15px
	+box-sizing(border-box)
	cursor: pointer
	+transition(opacity 0.5s linear)
	+at-breakpoint($phone-hor-max)
		margin-left: 0
		float: none
		width: 100%
		margin-bottom: 20px
	&:hover
		+opacity(0.8)


	.title
		position: absolute
		top: 36px
		left: 25px
		right: 60px
		color: $text-color
		font-family: $union-b
		font-size: 35px
		line-height: 41px
		+at-breakpoint($tablet-max)
			position: static
			font-size: 22px
			line-height: 34px
			margin-top: 20px
		+at-breakpoint($phone-hor-max)
			line-height: 30px
			margin-top: 15px

		span
			border-bottom: 5px solid  $blue
			position: relative
			top: -5px
			+at-breakpoint($phone-hor-max)
				top: -4px
			span
				border: none
				top: 5px
				+at-breakpoint($phone-hor-max)
					top: 4px
	p
		color: $text-color
		font-size: 20px
		line-height: 28px
		padding: 33px 20px 16px
		text-align: center
		margin: 0
		opacity: 0.8
		+at-breakpoint($tablet-max)
			text-align: left
			font-size: 19px
			line-height: 26px
			padding: 22px 0 16px
		+at-breakpoint($phone-hor-max)
			padding: 16px 0