.slider
	padding: 90px 0
	background: #fff
	+at-breakpoint($tablet-max)
		padding: 50px 0
	+at-breakpoint($phone-hor-max)
		padding: 30px 0
	img
		width: 68.3%
		margin-right: 4%
		float: left
		+at-breakpoint($tablet-max)
			width: 56%
		+at-breakpoint($phone-hor-max)
			width: 100%
			float: none

.slide-text
	width: 27.7%
	float: left
	+at-breakpoint($tablet-max)
		width: 40%
	+at-breakpoint($phone-hor-max)
		width: 100%
		float: none
	.title
		color: $text-color
		font-family: $union-b
		font-size: 45px
		line-height: 53px
		margin-top: 2px
		margin-bottom: 29px
		+at-breakpoint($tablet-max)
			font-size: 35px
			line-height: 43px
		+at-breakpoint($phone-hor-max)
			font-size: 25px
			line-height: 33px
			margin-top: 7px
			margin-bottom: 20px
		span
			border-bottom: 5px solid  $blue
			position: relative
			top: -7px
			+at-breakpoint($phone-hor-max)
				top: -4px
			span
				border: none
				top: 7px
				+at-breakpoint($phone-hor-max)
					top: 4px
	p
		color: $text-color
		font-size: $font-size
		line-height: $text-line-height 
		font-family: $union
		margin: 27px 0
		opacity: 0.8
		+at-breakpoint($tablet-max)
			font-size: 19px
			line-height: 26px
		+at-breakpoint($phone-hor-max)
			font-size: 17px
			line-height: 23px
			margin: 20px 0

	i
		font-family: $union-i
