.statistics
	padding: 80px 0 60px
	background: #fff
	+at-breakpoint($tablet-max)
		padding: 40px 0	 20px
	+at-breakpoint($phone-hor-max)
		padding: 30px 0 20px	


ul.statistics-holder
	margin-left: -2.3333%
	font-size: 0
	+at-breakpoint($phone-hor-max)
		margin-left: 0
	+selection
		background: transparent
	li
		width: 31%
		margin-left: 2.33333333%
		display: inline-block
		vertical-align: top
		margin-bottom: 30px
		text-align: center
		+at-breakpoint($phone-hor-max)
			margin-left: 0
			width: 100%
	p
		font-family: $union
		font-size: 16px
		line-height: 24px
		color: $text-color
		padding: 23px 25px
		margin: 0
		+at-breakpoint($phone-hor-max)
			padding: 15px 20px
			line-height: 22px

	img
		margin: auto
