.team
	position: relative
	.wrapper
		position: absolute
		top: 65px
		left: 0
		right: 0
		margin: auto
		+at-breakpoint($tablet-max)
			top: 40px
		+at-breakpoint($phone-hor-max)
			top: 0
	h4
		margin-left: 50px
		+at-breakpoint($phone-hor-max)
			margin-left: 0

.team-marker
	width: 28px
	height: 28px
	position: absolute
	background: #fff
	border: 1px solid  #e4e5e3
	background: #1f394b
	background: rgba(#1f394b, 0.8)
	cursor: pointer
	+box-sizing(border-box)
	+transition(background 0.5s linear)
	&:hover
		background: #4a89b4
		background: rgba(#4a89b4, 0.8)
	&:after, &:before
		content: ""
		width: 12px
		height: 1px
		position: absolute
		background: #e4e5e3
		top: 13px
		left: 7px
		+transition
		+backface-visibility(hidden)
	&:after
		+rotate(90deg)
	&.open
		&:before
			+rotate(225deg)
		&:after
			+rotate(315deg)
		.description
			visibility: visible
			opacity: 1


.description	
	+transition(all 0.5s linear)
	visibility: hidden
	opacity: 0
	width: 324px
	+box-sizing(border-box)
	position: absolute
	top: 52px
	left: -149px
	background: #1a3040
	background: rgba(#1a3040, 0.95)
	border: 1px solid  #b8b9b8
	+border-radius(6px)
	color: #fff
	font-size: 12px
	line-height: 18px
	font-family: $union
	text-align: center
	padding: 45px 43px 27px
	z-index: 3
	+at-breakpoint($phone-hor-max)
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: auto
		padding-top: 150px
	&:before
		content: ""
		border-bottom: 11px solid  #b8b9b8
		border-left: 11px solid transparent
		border-right: 11px solid transparent
		position: absolute
		top: -11px
		left: 50%
		margin-left: -11px
		z-index: 1
		+at-breakpoint($phone-hor-max)
			display: none
	&:after
		content: ""
		border-bottom: 10px solid  #1a3040
		// border-bottom: 10px solid  rgba(#1a3040, 0.95)
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		position: absolute
		top: -9px
		left: 50%
		margin-left: -10px
		z-index: 2
		+at-breakpoint($phone-hor-max)
			display: none
	p
		margin-bottom: 18px
	strong
		font-size: 13px
		font-family: $union-b


.description-close
	+at-breakpoint($phone-hor-max)
		position: absolute
		top: 50px
		right: 10px
		width: 28px
		height: 28px
		&:after, &:before
			content: ""
			width: 12px
			height: 1px
			position: absolute
			background: #e4e5e3
			top: 13px
			left: 7px
			+transition
			+backface-visibility(hidden)
			+rotate(45deg)
		&:after
			+rotate(135deg)
