.timeline	
	padding: 90px 0 160px
	background: $bg-color
	+at-breakpoint($tablet-max)
		padding: 50px 0	120px
	+at-breakpoint($phone-hor-max)
		padding: 30px 0 90px

.timeline-holder
	+pie-clearfix
	ul.timeline-list
		width: 4380px
		position: relative
		// margin-top: 32px
		padding-top: 37px
		padding-left: 90px
		padding-right: 90px
		margin-top: 20px
		+at-breakpoint($phone-hor-max)
			width: 3780px
			padding-left: 0
			padding-right: 0
		background: image-url("timeline-bg.png") repeat-x
		&:before,&:after
			content: ''
			width: 27px
			height: 27px
			display: block
			background: $blue
			+border-radius(100%)
			position: absolute
			top: -11px
		&:before
			left: 0
		&:after
			right: 0
			visibility: visible
		li
			list-style: none
			float: left
			width: 325px!important
			margin: 0 20px
			position: relative
			color: $text-color
			text-align: center
			padding: 40px 25px 25px
			+box-sizing(border-box)
			background: #fff
			+at-breakpoint($phone-hor-max)
				width: 275px!important
				padding: 25px 15px 15px
			&:before
				content: ''
				display: block
				position: absolute
				top: -12px
				left: 50%
				margin-left: -16px
				border-bottom: 12px solid  #fff
				border-left: 16px solid transparent
				border-right: 16px solid transparent
		.line-item-time
			font-family: $hel-b
			font-size: 31px
			text-transform: uppercase
			display: inline-block
			padding: 0 20px
			background: $bg-color
			position: absolute
			left: 50%
			margin-left: -55px
			top: -46px
		p
			font-size: 16px
			line-height: 20px
			margin-bottom: 15px
			font-family: $union
			+at-breakpoint($phone-hor-max)
				font-size: 15px
				line-height: 19px
		strong
			font-family: $union-b
		i
			font-family: $union-i
		img
			margin: 45px auto
			+at-breakpoint($phone-hor-max)
				margin: 20px auto

	.timeline-prev,.timeline-next,.mCSB_buttonLeft,.mCSB_buttonRight
		display: block
		width: 138px
		height: 58px
		background: $blue
		background: rgba($blue, 0.8)
		+transition(background 0.5s ease-in-out)
		position: absolute
		top: 0
		right: 303px
		outline: none
		+at-breakpoint($phone-hor-max)
			+scale(0.6, 0.6)
			right: 159px
		&:hover
			background: $text-color
			background: rgba($text-color, 0.8)
		&:before
			content: ''
			width: 79px
			height: 27px
			+icon(timeline-prev)
			position: relative
			top: 15px
			left: 27px

	.timeline-next, .mCSB_buttonRight
		right: 0
		+at-breakpoint($phone-hor-max)
			right: -28px
		&:before
			+icon(timeline-next)
			left: 30px

// .line
// 	margin-top: 23px
// 	width: 100%
// 	height: 5px
// 	background: $blue
// 	position: relative
// 	&:before,&:after
// 		content: ''
// 		width: 27px
// 		height: 27px
// 		display: block
// 		background: $blue
// 		+border-radius(100%)
// 		position: absolute
// 		top: -11px
// 	&:before
// 		left: 0
// 	&:after
// 		right: 0





.timeline-nav
	background: $blue
	background: rgba($blue, 0.8)
	padding: 22px 22px 20px
	font-size: 18px
	line-height: 18px
	position: relative
	height: 58px
	+box-sizing(border-box)
	right: 140px
	top: -58px
	display: inline-block
	text-transform: uppercase
	color: #fff
	float: right
	+at-breakpoint($phone-hor-max)
		+scale(0.6, 0.6)
		right: 54px
	// .timeline-prev,.timeline-next,.mCSB_buttonLeft,.mCSB_buttonRight
	// 	display: block
	// 	width: 138px
	// 	height: 58px
	// 	background: $blue
	// 	background: rgba($blue, 0.8)
	// 	+transition(background 0.5s ease-in-out)
	// 	position: absolute
	// 	top: 0
	// 	left: -139px
	// 	outline: none
	// 	&:hover
	// 		background: $text-color
	// 		background: rgba($text-color, 0.8)
	// 	&:before
	// 		content: ''
	// 		width: 79px
	// 		height: 27px
	// 		+icon(timeline-prev)
	// 		position: relative
	// 		top: 15px
	// 		left: 27px

	// .timeline-next, .mCSB_buttonRight
	// 	right: -139px
	// 	left: auto
	// 	&:before
	// 		+icon(timeline-next)
	// 		left: 30px

