.video
	background: #fff
	padding: 90px 0
	+at-breakpoint($tablet-max)
		padding: 50px 0	
	+at-breakpoint($phone-hor-max)
		padding: 30px 0	
	&.open
		.video-holder
			iframe
				z-index: 4


.video-holder	
	position: relative
	img
		position: relative
		z-index: 2
	iframe
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: 1


.video-text
	position: absolute
	z-index: 3
	left: 50px
	bottom: 50px
	color: #fff
	padding-left: 122px
	+at-breakpoint($phone-hor-max)
		top: 50%
		left: 50%
		bottom: auto
		margin-top: -25px
		margin-left: -25px
	.title
		font-size: 55px
		line-height: 60px
		font-family: $hel-b
		+at-breakpoint($tablet-max)
			font-size: 45px
			line-height: 50px
			margin-top: 10px
		+at-breakpoint($phone-hor-max)
			display: none
	p
		font-family: $hel-l
		font-size: 25px
		margin-bottom: 8px
		line-height: 23px
		+at-breakpoint($phone-hor-max)
			display: none

.video-icon
	display: block
	position: absolute
	left: 0
	top: 0
	width: 95px
	height: 95px
	background: $blue
	background: rgba($blue, 0.7)
	+transition(background 0.5s ease-in-out)
	+at-breakpoint($phone-hor-max)
		width: 50px
		height: 50px

	&:hover
		background: $text-color
		background: rgba($text-color, 0.7)
	&:before
		content: ''
		border-left: 37px solid  #fff
		border-top: 22px solid transparent
		border-bottom: 22px solid transparent
		position: absolute
		left: 35px
		top: 26px
		+at-breakpoint($phone-hor-max)
			border-left: 25px solid  #fff
			border-top: 15px solid transparent
			border-bottom: 15px solid transparent
			position: absolute
			left: 16px
			top: 11px